body {
  background: #ffffff;
  min-height: 100vh;
}

/***************************/
/* Horizontal Nav Elements */

/** Upper nav **/
.nav-upper {
    height: 50px;
    width: 100%;
    background-color: #111;
}

.nav-upper li a {
    color: #fff;
}

.nav-upper li a:hover {
    color: rgb(255, 61, 46);
}

/** Middle nav **/

.nav-mid {
    width: 100%;
}

.crimp-news{
    width: 240px;
    font-family: Lato,sans-serif;
    font-weight: bold;
    margin-left: 15%;
    font-size: 2.5rem;
    padding-top: 1.5%;
    color: rgb(51, 51, 51);
}

.crimp-news:hover{
    color: rgb(255, 61, 46);
    cursor: pointer;
}

.crimp-news:hover span{
    color: #333;
}

.crimp-news span {
    color: rgb(255, 61, 46);
}

.nav-mid .text-muted {
    font-family: Lato,sans-serif;
    padding-left: 17%;
}

/** Lower nav **/

.nav-lower {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 61, 46);
    border-bottom-color: rgba(0, 0, 0, 0.075);
    border-top-color: rgba(0, 0, 0, 0.075);
    border-right-color: rgb(68, 68, 68);
    border-left-color: rgb(68, 68, 68);
}

.nav-lower ul {
    padding-top: 8px;
    margin-left: 14%;
}

.nav-lower li a {
    font-family: Poppins;
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
    font-size: 1.2rem;
}

.navbar-toggler {
    border: none;
}

/***********************/
/* dropdown categories */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    font-size: 0.7rem;
    font-family: Helvetica, Georgia, sans-serif;
}

.dropdown-content hr {
    margin-top: 0;
    color: #fff;
}

.dropdown-content a:hover {
    background-color: rgb(255, 61, 46);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/************/
/* Top News */

.top-news h6 {
    height: 23px;
    text-align: center;
    background-color: #222;
    color: #fff;
    width: 8%;
    margin-left: 15%;
    margin-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}

#topHeadlines {
    color: #32407b;
    text-decoration: none;
    position: absolute;
    margin-left: 30%;
    margin-top: -30px;
}

#topHeadlines:hover {
    color: rgb(255, 61, 46);
}

/********************/
/* News Category Cards Content */

.news-category-card h6 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(255, 61, 46);
    width: 90px;
    padding: 6px;
    text-align: center;
}

.news-category-card hr {
    position: relative;
    top: -18px;
    height: 0.6px;
    margin-left: 60px;
    background-color: rgb(255, 61, 46);
}

.news-category-card a {
    margin-left: 20%;
    text-decoration: none;
    color: rgb(255, 61, 46);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Poppins;
}

.news-category-card a:hover {
    color: #000;
}

.news-category-card img {
    width: 341px;
    height: 300px;
}

.imgBox {
    position: relative;
    margin-top: -10px;
    display: inline-block;
    overflow: hidden;
}

.imgBox img {
    display: block;
    transition: .3s ease-in-out;
}

.imgBox:hover img {
    transform: scale(1.3);
    cursor: pointer;
}

/*****************/
/* Popular topics*/


/*********************/
/* Main Page Content*/

.page-content {
    margin-top: 2rem;
}

.news {
    border-style: solid;
    border-color: rgb(218, 220, 224);
    border-width: 1px;
    border-radius: 7px;
    padding: 3%;
    margin-bottom: 5%;
}

.news-title {
    font-weight: 550;
    font-family: Alegreya Sans;
    font-size: 1.3rem;
    color: #000000;
}

.news-title a{
    color: #000000;
}

.news-provider {
    position: relative;
    font-size: 0.7rem;
    font-family: Helvetica, Times, Georgia;
    bottom: 15px;
}

.news-provider a{
    color: rgb(108, 117, 125);
}

.news-date {
    position: relative;
    font-size: 0.7rem;
    font-family: Helvetica, Times, Georgia;
    bottom: 15px;
}

.news-description {
    text-align: left;
    color: #393e46;
    font-family: Helvetica, Georgia;
}


/***********************************/
/* Media Queries For Responsiveness*/

@media (max-width: 450px) and (min-width: 150px){
    .nav-mid .text-muted {
        padding-left: 23%;
    }
    .navbar-collapse{
        background-color: #333;
    }
    .nav-upper li a {
        color: #fff;
    }
    .nav-upper ul {
        display:inline-block
    }
    .nav-upper li a:hover {
        color: rgb(255, 61, 46);
    }
    .dropdown-content {
        min-width: 125px;
    }
    .top-news h6 {
        width: 24%;
        margin-left: 4%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
    }
    #topHeadlines {
        font-size: 0.8rem;
    }
    .news-category-card img {
        width: 100%;
    }
}

@media (max-width: 575px) and (min-width: 451px){
    .nav-mid .text-muted {
        padding-left: 20%;
    }
    .navbar-collapse{
        background-color: #333;
    }
    .nav-upper li a {
        color: #fff;
    }
    .nav-upper ul {
        display:inline-block
    }
    .nav-upper li a:hover {
        color: rgb(255, 61, 46);
    }
    .top-news h6 {
        width: 18%;
        margin-left: 6%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
    }
    #topHeadlines {
        font-size: 0.9rem;
    }
    .news-category-card img {
        width: 100%;
    }
    .news-category-card a {
        margin-left: 30%;
    }
}

@media (max-width: 600px) and (min-width: 576px){
    .nav-mid .text-muted {
        padding-left: 20%;
    }
    .top-news h6 {
        width: 13%;
        margin-left: 6%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
    }
    #topHeadlines {
        font-size: 0.9rem;
    }
    .news-category-card img {
        width: 100%;
    }
    .news-category-card a {
        margin-left: 30%;
    }
}

@media (max-width: 800px) and (min-width: 601px){
    .nav-mid .text-muted {
        padding-left: 19%;
    }
    .top-news h6 {
        width: 13%;
        margin-left: 8%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
    }
    #topHeadlines {
        font-size: 1rem;
    }
    .news-category-card img {
        width: 100%;
    }
    .news-category-card a {
        margin-left: 35%;
    }
}

@media (max-width: 1000px) and (min-width: 801px){
    .nav-mid .text-muted {
        padding-left: 15%;
    }
    .top-news h6 {
        width: 12%;
        margin-left: 10%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
    }
    .news-category-card img {
        width: 660px;
    }
    .news-category-card a {
        margin-left: 35%;
    }
}

@media (max-width: 1200px) and (min-width: 1001px){
    .news-category-card img {
        width: 436px;
    }
    .top-news h6 {
        width: 10%;
    }
    .news-category-card a {
        margin-left: 25%;
    }
}
